<div class="text-center form-signin">
  <h1 class="h3 mb-3 font-weight-normal">Password reset</h1>
  <div>
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>

      <%= devise_error_messages! %>

      <div class="field">
        <%= f.label :email, class: 'sr-only' %><br />
        <%= f.email_field :email, class: 'form-control', placeholder: 'Email address', autofocus: true, autocomplete: "email" %>
      </div>
      <br/>
      <div class="actions">
        <%= f.submit "Enter", class: 'btn btn-lg btn-primary btn-block' %>
      </div>
    <% end %>
  </div>
  <%= render "devise/shared/links" %>
</div>
