<div class="container-fluid">
  <div class="row">

    <%= render "/shared/topbar" %>
    <%= render "/shared/sidebar" %>

    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">

      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Edit this profile</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
          <div class="btn-group mr-2">
            <button class="btn btn-sm btn-default"><%= link_to "Back", :back %></button>
          </div>
        </div>
      </div>

      <%= form_for(@contact_entries) do |form| %>
      <div class="field">
        <%= form.label :name %>
        <%= form.text_field :name, class: 'form-control', placeholder: 'Name' %>
      </div>
      <br>
      <div class="field">
        <%= form.label :seniority %>
        <%= form.text_field :seniority, class: 'form-control', placeholder: 'Seniority' %>
      </div>
      <br>
      <div class="field">
        <%= form.label :type_work %>
        <%= form.text_field :type_work, class: 'form-control', placeholder: 'ype of Work' %>
      </div>
      <br>
      <div class="field">
        <%= form.label :location %>
        <%= form.text_field :location, class: 'form-control', placeholder: 'Location' %>
      </div>
      <br>
      <div class="field">
        <%= form.label :specialty %>
        <%= form.text_area :specialty, class: 'form-control', placeholder: 'Enter specialties separated by coma.
For example: SEO, SEM, FB Ads.' %>
      </div>
      <br>
      <div class="field">
        <%= form.label :linkedin %>
        <%= form.text_field :linkedin, class: 'form-control', placeholder: 'LinkedIn' %>
      </div>
      <br>
      <div class="field">
        <%= form.hidden_field :added_by %>
        <%= form.hidden_field :added_by, :value => current_user.id %>
      </div>
      <br>
      <div class="actions">
        <%= form.submit "Enter", class: 'btn btn-lg btn-primary' %>
      </div>
      <% end %>

    </main>

  </div>
</div>