<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">List of Talent</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
    </div>
  </div>

  <div class="table-responsive">
    <table class="table table-striped table-sm text-center">
      <thead>
        <tr>
          <form method="GET" action="/">
            <th class="text-left">
              <h6>Name</h6>
            </th>
            <th>
              <h6>
                Type Work:
                <select name="type_work">
                  <option value="" disabled selected>All</option>
                  <option value="brand">brand</option>
                  <option value="agency">agency</option>
                </select>
              </h6>
            </th>
            <th>
              <h6>
                Seniority:
                <select name="seniority">
                  <option value="" disabled selected>All</option>
                  <option value="manager">manager</option>
                  <option value="vp">vp</option>
                </select>
                </h6>
            </th>
            <th>
              <h6>
                Location:
                <select name="location">
                  <option value="" disabled selected>All</option>
                  <option value="Toronto">Toronto</option>
                  <option value="Montreal">Montreal</option>
                </select>
              </h6>
            </th>
            <th>
              <div class="btn-group" role="group">
                <input type="submit" class="btn btn-dark" value="Filter"/>
                <a href="/" class="btn btn-link">Clear</a>
              </div>
            </th>
          </tr>
        </form>
      </thead>
      <tbody>
        <% @contact_entries.each do |contact_entries| %>
          <tr>
            <td class="text-left"><%= link_to contact_entries.name, contact_path(contact_entries) %></td>
            <td><%= contact_entries.type_work %></td>
            <td><%= contact_entries.seniority %></td>
            <td><%= contact_entries.location %></td>
            <td><button type="submit" class="btn-link" ><%= octicon "heart", :height => 20 %></button></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</main>