<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">List of Talent</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
    </div>
  </div>

  <div class="table-responsive">
    <table class="table table-striped table-sm text-center">
      <thead>
        <tr>
          <form method="GET" action="/">
            <th class="text-left">
              <h6>Name</h6>
            </th>
            <th>
              <h6>
                Type Work:

                <select name="type_work">
                  <option value="" disabled selected>All</option>
                  <% @type_work.each do |type_work| %>
                    <option value="<%= type_work %>" <%= type_work == params[:type_work] ? "selected" : "" %> ><%= type_work %></option>
                  <% end %>
                </select>
              </h6>
            </th>
            <th>
              <h6>
                Seniority:
                <select name="seniority">
                  <option value="" disabled selected>All</option>
                  <% @seniority.each do |seniority| %>
                    <option value="<%= seniority %>" <%= seniority == params[:seniority] ? "selected" : "" %> ><%= seniority %></option>
                  <% end %>
                </select>
                </h6>
            </th>
            <th>
              <h6>
                Location:
                <select name="location">
                  <option value="" disabled selected>All</option>
                  <% @location.each do |location| %>
                    <option value="<%= location %>" <%= location == params[:location] ? "selected" : "" %> ><%= location %></option>
                  <% end %>
                </select>
              </h6>
            </th>
            <th>
              <div class="btn-group" role="group">
                <input type="submit" class="btn btn-outline-dark" value="Filter"/>
                <a href="/" class="btn btn-outline-link">Clear</a>
              </div>
            </th>
          </form>
        </tr>
      </thead>
      <tbody>
        <% @contact_entries.each do |contact_entries| %>
          <tr>
            <td class="text-left"><%= link_to contact_entries.name, contact_path(contact_entries) %></td>
            <td><%= contact_entries.type_work %></td>
            <td><%= contact_entries.seniority %></td>
            <td><%= contact_entries.location %></td>
            <td>
              <button type="submit" class="btn btn-outline-success btn-sm">Recommend</button>
              <button type="submit" class="btn btn-outline-primary btn-sm">Bookmark</button>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</main>