<div>
	<h1><%= @contact_entries.name %></h1>
	<em><%= @contact_entries.location %>, <%= @contact_entries.linkedin %></em>
</div>
<br/>
<div>
	<p>Title: <%= @contact_entries.seniority %></p>
	<p>Type of work: <%= @contact_entries.type_work %></p>
</div>
<br/>
<div>
	<p>Added by: <%= @contact_entries.added_by %></p>
</div>
