<div>
	<h1><%= @contact_entries.name %></h1>
	<em><%= @contact_entries.location %>, <%= @contact_entries.linkedin %></em>
    <p><%= link_to "Edit", edit_contact_path %></p>
</div>
<br/>
<div>
	<p><strong>Title:</strong> <%= @contact_entries.seniority %></p>
	<p><strong>Type of work:</strong> <%= @contact_entries.type_work %></p>
</div>
<br/>
<div>
	<p><strong>Added by:</strong> <%= @contact_entries.added_by %></p>
</div>
<br/>
<div>
	<p><strong>Specialties:</strong></p>
	<% @contact_entries.specialties.each do |skill| %>
  		<p>- <%= skill.name %></p>
	<% end %>
</div>